body {
    background-color: var(--background-color);
    position: relative;
    @media (min-width: 40em) {
        display: grid;
        grid-template-columns: max(20em) minmax(0, 100vw); 
        grid-gap: 0 1.5em
    }
}

button {
    all: unset; 
    cursor: pointer;
}

/* ALGEMENE TEKST */

h1 {
    font-family: var(--font-default);
    font-size: var(--heading1);
    color: var(--text-color-black);
}

h2 {
    font-family: var(--font-default);
    font-size: var(--heading2);
    color: var(--text-color-black);
}

h3 {
    font-family: var(--font-default);
    font-size: var(--heading3);
    color: var(--text-color-black);
}

p {
    font-family: var(--font-default);
    font-size: var(--body-text-paragraph);
    color: var(--text-color-black);
}

a {
    font-family: var(--font-default);
    font-size: var(--body-text-paragraph);
    color: var(--text-color-blue);
    cursor: pointer;
}


/* HEADER */

header {
    position: relative;
    margin: 0%;
    width: 100%;
    @media (min-width: 40em) {
        translate: 0%;
        top: 0;
        grid-column: 2/2;
        width: minmax(0, 100vw);
    } 
}

.logo {
    margin: 1em;
    width: auto; 
    height: 4.5em;
}

.profile-saved-buttons {
    position: absolute;
    top: 3em;
    right: 2%;
    width: 8em;
    align-items: center;

    .button-gesaved {
        border: none;
        background-color: var(--background-color);
        margin: 2%;
        width: auto;
        height: 2.2em;
    }

    .button-profile {
        border: none;
        background-color: var(--background-color);
        margin: 2%;
        width: auto;
        height: 2.2em;
    }
}

.profile-picture {
    position: absolute;
    top: 11em;
    margin: 1em;
    width: auto;
    height: 4em;
}

.friend-label {
    position: absolute;
    top: 11.5em;
    left: 4.5em; 
    margin: 1em;
    padding: 1%;
    background-color: var(--accent-color-pink);
    color: var(--text-color-white);
    border-radius: var(--rounded);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:hover {
        background-color: var(--accent-color-blue);
    }
}

.edit-button {
    width: auto;
    height: 2em;
    background-color: transparent;
    border: none;
}



/* CADEAU CATEGORIEEN */
main {
    margin-top: 6em;
    @media (min-width: 40em) {
        translate: 0%;
        top: 0;
        grid-column: 2/2;
        width: minmax(0, 100vw);
    } 
}

.birthday {
    padding: 1em;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    gap: 1em;
    margin: 1em;
}

.other {
    padding: 1em;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    gap: 1em;
}


/* CADEAU TIPS */

.cadeau {
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    width: 8em;
    display: grid;
    align-content: center;
    gap: 1rem;
    border-radius: var(--rounded);
}

.cadeau-picture {
    width: auto;
    height: 6.4em;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: var(--rounded);
}

.save-button {
    position: absolute;
    top: 3%;
    right: 3%; 
    border: none;
    background-color: transparent;
    .save-icoon {
        width: auto;
        height: 2.2em;
    }
}

.cadeau-text {
    text-align: center;
    margin: 5%;
}


/* FOOTER */
footer {
    @media (min-width: 40em) {
        translate: 0%;
        top: 0;
        grid-column: 2/2;
        width: minmax(0, 100vw);
    } 
}


/* BUTTON CHATBOT */

.chat-button {
    display: block;
    position: fixed;
    bottom: 3em;
    right: .4em;
    cursor: pointer;
    @media (min-width: 40em) {
        display: none;
    }
}

.zoeken.toonSearch {
    translate: 0% 0%;   
}

.zoeken {
    transition: translate 1.5s;
    position: fixed;
    top: 25em;
    left: 0;
    bottom:0;
    width: 100%;
    translate: 0% 100%;
    background: var(--text-color-gray);
    display: flex;
    align-items: end;
    justify-content: left;
    @media (min-width: 40em) {
        translate: 0%;
        top: 0;
        left: 0;
        grid-column: 1/2;
        width: max(20em);
    }    
}

.chat-text {
    color: var(--text-color-accent);
    position: absolute;
    top: 1em;
    left: 1em;
    display: block;
    @media (min-width: 40em) {
        display: none;
    }
}

input[type="search"] {    
    background:var(--background-color);
    width: 150%;
    height: 3em;
    margin-bottom: 1em;
    margin-left: 1em;
    border-radius: .75em;
    @media (min-width: 40em) {
        width: max(22em);
}
}

input[type="search"], textarea {
    outline: none;
    border: none;
    text-align: left;
    font-family: var(--font-default);
    background-size: 1.5em 1.5em;  
    background-repeat: no-repeat;
}  


.zoeken input::placeholder {
    color: var(--accent-color-black);
}

.close-chat {
    position: absolute;
    top: 3%;
    right: 3%;
    @media (min-width: 40em) {
        display: none;
    }
}

@keyframes move-out {
    0% {
        transform: translateX(0%);
        transition-timing-function: ease;
    }
    100% {
        transform: translateX(-100%);
        transition-timing-function: ease;

    }
}

@keyframes move-in {
    0% {
        transform: translateX(100%);
        transition-timing-function: ease;

    }
    100% {
        transform: translateX(0%);
        transition-timing-function: ease;

    }
}

