body {
    background-color: var(--background-color);
    position: relative;
}

/* ALGEMENE TEKST */

h1 {
    font-family: var(--font-default);
    font-size: var(--heading1);
    color: var(--text-color-black);
}

h2 {
    font-family: var(--font-default);
    font-size: var(--heading2);
    color: var(--text-color-black);
}

h3 {
    font-family: var(--font-default);
    font-size: var(--heading3);
    color: var(--text-color-black);
}

p {
    font-family: var(--font-default);
    font-size: var(--body-text-paragraph);
    color: var(--text-color-black);
}

a {
    font-family: var(--font-default);
    font-size: var(--body-text-paragraph);
    color: var(--text-color-blue);
}


/* HEADER */

header {
    position: relative;
    margin-top: 0%;
}

    .logo {
        margin: 1%;
        width: auto; 
        height: 4.5em;
    }

    .profile-saved-buttons {
        position: absolute;
        top: 3em;
        right: 5%;
        width: 8em;
        align-items: center;
    }

    .button-gesaved {
        border: none;
        background-color: var(--background-color);
        margin: 2%;
        width: auto;
        height: 2.2em;
    }

    .button-profile {
        border: none;
        background-color: var(--background-color);
        margin: 2%;
        width: auto;
        height: 2.2em;
    }

    
    .profile-picture {
        position: absolute;
        top: 8.5em;
        margin: 2%;
        width: auto;
        height: 4em;
    }

    .friend-label {
        position: absolute;
        top: 9.5em;
        left: 4.5em; 
        margin: 2%;
        padding: 1%;
        background-color: var(--accent-color-pink);
        color: var(--text-color-white);
        border-radius: var(--rounded);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .edit-button {
        width: auto;
        height: 2em;
        background-color: transparent;
        border: none;
    }


/* CADEAU CATEGORIEEN */
main {
    margin-top: 6em;
}

.Birthday {
    padding: 1em;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    gap: 1em;
}

.other {
    padding: 1em;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    gap: 1em;
}


/* CADEAU TIPS */

.cadeau {
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    width: 7em;
    display: grid;
    align-content: center;
    gap: 1rem;
    border-radius: var(--rounded);
}

    .cadeau-picture {
        width: auto;
        height: 6.4em;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        border-radius: var(--rounded);
    }

    .save-button {
        position: absolute;
        top: 3%;
        right: 3%; 
        border: none;
        background-color: transparent;
    }

    .save-icoon {
        width: auto;
        height: 2.2em;
    }

    .cadeau-text {
        text-align: center;
        margin: 5%;
    }



/* FOOTER */



/* BUTTON CHATBOT */
.chatbot-button {
    background: transparent;
    border: none;
    z-index: 1;
    position: fixed;
    bottom: 3em;
    right: 5%;
}



/* MEDIA QUERY CADEAUTJES GROTER */

/* @media screen and (min-width: 400px) {
    .Birthday {
      scale: 110%;
    }
  } */